<% if current_user %>
  <% if current_user.id == @user.id %>
    <% @page = "マイページ" %>
  <% else %>
    <% @page = "ページ" %>
  <% end %>
<% else %>
  <% @page = "ページ" %>
<% end %>
<h3><%= @page_name = @user.name + " さんの " + @page %></h3>

<% if current_user %>
  <% if current_user.id == @user.id %>
    <p><%= link_to "マイページを編集", [:edit, @user] %> | <%= link_to "退会", "#" %>
    <ul>
      <li><%= link_to "お気に入り一覧", [@user, :favorites] %></li>
      <li><%= link_to "取引一覧", [@user, :boughts] %></li>
      <li><%= link_to "リクエスト一覧", [@user, :requests] %></li>
    </ul>
  <% end %>
<% end %>

<table>
  <tr>
    <th>ユーザー名</th>
    <td><%= @user.name %></td>
    <th>プロフィール画像</th>
    <td>aaa</td>
  <tr>
<table>
<p>出品物一覧</p>
<% if @items.present? %>
  <table>
    <tr>
      <th>商品名</th>
      <th>金額</th>
      <th></th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= item.value %></td>
        <td>
          <% if item.stock < 1 %>
            <p>売り切れ</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>出品物はありません</p>
<% end %>
