<h1><%= link_to "SOSO TOWN", :root %></h1>
<nav class = "menubar">
  <ul>
    <% if current_user %>
      <li><%= current_user.name + "さん" %></li>
      <li><%= menu_link_to "マイページ", user_path(current_user) %></li>
      <li><%= menu_link_to "ログアウト", :session, 
            method: :delete, data: { confirm: "ログアウトしますか？" } %></li>
    <% elsif current_admin %>
      <li><%= "管理者 " + current_admin.name + " さん" %></li>
      <li><%= menu_link_to "管理者ページ", :admin_root %></li>
      <li><%= menu_link_to "ログアウト", :session,
            method: :delete, data: { confirm: "ログアウトしますか？" } %></li>
    <% else %>
      <li><%= menu_link_to "ログイン", login_index_path %></li>
      <li><%= menu_link_to "新規会員登録", new_user_path %></li>
    <% end %>
  </ul>
</nav>
