<p>SOSO TOWN</p>
<nav class = "menubar">
  <ul>
    <%= menu_link_to "TOP", :root %>
    <% if current_user %>
      <%= current_user.name + "さん" %>
      <%= menu_link_to "マイページ", user_path(current_user) %>
      <%= menu_link_to "ログアウト", :session, 
            method: :delete, data: { confirm: "ログアウトしますか？" } %>
    <% else %>
      <%= menu_link_to "ログイン", login_index_path %>
    <% end %>
  </ul>
</nav>
