<h3><%= @page_title = @item.name + "の詳細" %></h3>
<% if current_user %>
  <% if current_user.id != @item.user_id %>
    <% if Favorite.where(user_id: current_user.id, item_id: @item.id).present? %>
      <%= form_tag({controller: :favorites, action: :destroy}, {method: :delete}) do %>
        <%= hidden_field_tag :item_id, @item.id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= submit_tag "お気に入り解除する" %>
      <% end %>
    <% else %>
      <%= form_tag({controller: :favorites, action: :create}, {method: :post}) do %>
        <%= hidden_field_tag :item_id, @item.id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= submit_tag "お気に入り登録する" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<table>
  <tr>
    <td>
      <% if @item.item_picture.attached? %>
        <%= image_tag @item.item_picture.variant(resize: "200x200") %>
      <% else %>
        <%= image_tag "item.png", size: "200x200" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>出品者</th>
    <td>
      <% if current_admin %>
        <%= link_to User.find(@item.user_id).name, admin_user_path(User.find(@item.user_id)) %> さん
      <% else %>
        <%= link_to User.find(@item.user_id).name, user_path(User.find(@item.user_id)) %> さん
      <% end %>
    </td>
  <tr>
    <th>商品名</th>
    <td><%= @item.name %></td>
    <th>在庫</th>
    <td><%= @item.stock %> 個</td>
  </tr>
  <tr>
    <th>金額</th>
    <td><%= @item.value %> 円</td>
  </tr>
  <tr>
    <th>カテゴリー</th>
    <td><%= @item.category.category %></td>
    <th>状態</th>
    <td><%= @item.status.status %></td>
  </tr>
  <tr>
    <th>詳細</th>
    <td><%= @item.detail %></td>
  </tr>
</table>

<% if current_user %>
  <% if current_user.id == @item.user_id %>
    <%= link_to "編集", [:edit, @item] %> | 
    <%= link_to "削除", @item, method: :delete,
        data: { confirm: "本当に削除しますか？" } %>
  <% else %>
    <% if @item.stock > 0 %>
      <%= form_tag({controller: :boughts, action: :create},{method: :post}) do %>
        <div>
          <% @options = [] %>
          <% 1.upto(@item.stock) do |i| %>
            <% @options.push i %>
          <% end %>
          <%= select_tag 'number', options_for_select(@options) %>
          <%= hidden_field_tag :item, @item.id %>
          <%= submit_tag "購入" %>
        </div>
      <% end %>
    <% else %>
      <p>売り切れです。</p>
      <% if current_user.id == @item.user_id %>
      <% else %> 
        <%= form_tag({controller: :requests, action: :create},{method: :post}) do %>
          <div>
            <% @options = [1, 2, 3, 4, 5, 6, 7, 8, 9 , 10] %>
            <%= select_tag 'number', options_for_select(@options) %>
            <%= hidden_field_tag :item_id, @item.id %>  
            <%= submit_tag "リクエストする" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if current_admin %>
  <%= link_to "商品削除", @item, method: :delete,
        data: { confirm: "本当に削除しますか？" } %>
<% end %>

<% if @comments.present? %>
  <table>
    <tr>
      <th>投稿者</th>
      <th>コメント</th>
      <th> </th>
    </tr>
    <% @comments.each do |comment| %>
      <tr>
        <td>
          <% if User.find_by(id: comment.user_id) %>
            <%= link_to User.find(comment.user_id).name, User.find(comment.user_id) %>
          <% else %>
            退会済
          <% end %>
        </td>
        <td><%= comment.sentence %></td>
        <td>
          <% if current_user %>
            <% if current_user.id == @item.user_id %>
              <%= form_tag({ controller: :comments, action: :destroy }, { method: :delete }) do %>
                <%= hidden_field_tag :item_id, @item.id %>
                <%= hidden_field_tag :comment_id, comment.id %>
                <%= submit_tag "削除" %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>コメントがありません。</p>
<% end %>

<% if current_user %>
  <%= form_tag({controller: :comments, action: :create},{method: :post}) do %>
    <div>
      <%= label_tag :コメント %>
      <%= text_field_tag :sentence %>
      <%= hidden_field_tag :item_id, @item.id %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= submit_tag "送信" %>
    </div>
  <% end %>
<% end %>
