<h3><%= @page_title = @item.name + "の詳細" %></h3>
<table>
  <tr>
    <th>出品者</th>
    <td><%= link_to User.find(@item.user_id).name, user_path(User.find(@item.user_id)) %> さん</td>
  <tr>
    <th>商品名</th>
    <td><%= @item.name %></td>
    <th>在庫</th>
    <td><%= @item.stock %> 個</td>
  </tr>
  <tr>
    <th>金額</th>
    <td><%= @item.value %> 円</td>
  </tr>
  <tr>
    <th>カテゴリー</th>
    <td><%= @item.category.category %></td>
    <th>状態</th>
    <td><%= @item.status.status %></td>
  </tr>
  <tr>
    <th>詳細</th>
    <td><%= @item.detail %></td>
  </tr>
</table>

<% if current_user %>
  <% if current_user.id == @item.user_id %>
    <%= link_to "編集", [:edit, @item] %> | 
    <%= link_to "削除", @item, method: :delete,
        data: { confirm: "本当に削除しますか？" } %>
  <% else %>
    <% if @item.stock > 0 %>
      <%= form_tag({controller: :boughts, action: :create},{method: :post}) do %>
        <div>
          <% @options = [] %>
          <% 1.upto(@item.stock) do |i| %>
            <% @options.push i %>
          <% end %>
          <%= select_tag 'number', options_for_select(@options) %>
          <%= hidden_field_tag :item, @item.id %>
          <input type="submit" value="購入">
        </div>
      <% end %>
    <% else %>
      <p>売り切れです。</p>
      <%= link_to "リクエストする", "#" %>
    <% end %>
  <% end %>
<% end %>

<% if @comments.present? %>
  <table>
    <tr>
      <th></th>
      <th>投稿者</th>
      <th>コメント</th>
    </tr>
    <% @comments.each do |comment| %>
      <tr>
        <td></td>
        <td><%= link_to User.find(comment.user_id).name, User.find(comment.user_id) %></td>
        <td><%= comment.sentence %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>コメントがありません。</p>
<% end %>

<% if current_user %>
  <%= form_tag({controller: :comments, action: :create},{method: :post}) do %>
    <div>
      <%= label_tag :コメント %>
      <%= text_field_tag :sentence %>
      <%= hidden_field_tag :item_id, @item.id %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <input type="submit" value="送信">
    </div>
  <% end %>
<% end %>
