<h3><%= @page_title = @user.name + " さんのページ" %></h3>

<%= form_tag({ action: :destroy }, { method: :delete }) do %>
  <%= hidden_field_tag :user_id, @user.id %>
  <%= submit_tag "#{@user.name} さんを退会させる" %>
<% end %>

<table>
  <tr>
    <th>ユーザー名</th>
    <td><%= @user.name %></td>
    <th>プロフィール画像</th>
    <td>aaa</td>
  <tr>
<table>
<p>評価の平均 
  <% @items = Item.where(user_id: @user.id) %>
  <% ave = 0.0 %>
  <% i = 0.0 %>
  <% if @items.present? %>
    <% @boughts = Bought.where(item_id: @items) %>
    <% if @boughts.present? %>
      <% @boughts.each do |bought| %>
        <% if bought.review > 0 %>
          <% ave += bought.review %>
          <% i += 1 %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if i == 0 %>
    <%= 0 %>
  <% else %>
    <%= (ave / i).round(2) %>
  <% end %>
</p>
<p>出品物一覧</p>
<% if @items.present? %>
  <table>
    <tr>
      <th>商品名</th>
      <th>金額</th>
      <th></th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= item.value %></td>
        <td>
          <% if item.stock < 1 %>
            <p>売り切れ</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>出品物はありません</p>
<% end %>
