<h3><%= @page_title = @user.name + " さんのページ" %></h3>

<%= form_tag({ action: :destroy }, { method: :delete }) do %>
  <%= hidden_field_tag :user_id, @user.id %>
  <%= submit_tag "#{@user.name} さんを退会させる" %>
<% end %>

<table>
  <tr>
    <td>
      <% if @user.profile_picture.attached? %>
        <%= image_tag @user.profile_picture.variant(resize: "100x100") %>
      <% else %>
        <%= image_tag "profile.png", size: "100x100" %>
      <% end %>
    </td>
    <td><%= @user.name %></td>
  </tr>
<table>

<p>評価の平均 
  <% @items = Item.where(user_id: @user.id) %>
  <% ave = 0.0 %>
  <% i = 0.0 %>
  <% if @items.present? %>
    <% @boughts = Bought.where(item_id: @items) %>
    <% if @boughts.present? %>
      <% @boughts.each do |bought| %>
        <% if bought.review > 0 %>
          <% ave += bought.review %>
          <% i += 1 %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if i == 0 %>
    <%= 0 %>
  <% else %>
    <%= (ave / i).round(2) %>
  <% end %>
</p>

<table>
  <tr>
    <th>管理者からのメッセージ</th>   
  </tr>
  <tr>
    <td>
      <%= form_tag(comments_path, method: :post) do %>
        <div>
          <%= text_field_tag :sentence %>
          <%= hidden_field_tag :admin_id, current_admin.id %>
          <%= hidden_field_tag :user_id, params[:id] %>
          <%= submit_tag "送信" %>
        </div>
      <% end %>
    </td>
  </tr>
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <tr><td><%= comment.sentence %></td></tr>
    <% end %>
  <% else %>
    <tr><td>メッセージはありません。</td></tr>
  <% end %>
</table>

<p>出品物一覧</p>
<% if @items.present? %>
  <div class = "itemlist">
    <% @items.each do |item| %>
      <div class = "item">
        <ul>
          <li id = "itempicture">
            <% if item.item_picture.attached? %>
              <%= image_tag item.item_picture.variant(resize: "100x100") %>
            <% else %>
              <%= image_tag "item.png", size: "100x100" %>
            <% end %>
          </li>
          <li><%= link_to item.name, item %></li>
          <% if item.stock > 0 %>
            <li><%= item.value %> 円</li>
          <% else %>
            <li>売り切れ</li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% else %>
  <p>出品物はありません</p>
<% end %>
